<h1 class="text-center">Result</h1>
<p><% @grid %></p>
<div class="d-flex flex-column justify-content-center">
  <p class= "text-center"><%= @score %></p>



  <p class = "btn btn-primary width"> <%= link_to 'Play again', 'new' %></p>
</div>
